extends layout

block content

  .container
    #map.center-block.img-thumbnail
      #infobox.text-center.alert.alert-info
        b Info:
        | the map is drag and zoomable
  .container
    div.span6#smiley-box
    div.span6#smiley-button-box
        div.span6.btn-group
            button#pos.btn.toggled Positive
            button#neu.btn.toggled Neutral
            button#neg.btn.toggled Negative
        a#clear-btn.btn Clear
    div.span6#tweet-stream