extends layout

block content

  .container
    .row
      #map.col-md-8.img-thumbnail
        #infobox.text-center.alert.alert-info
          b Info:
          | the map is drag and zoomable
      .col-md-4
        #smiley-button-box
          .btn-group
            button#pos.btn.toggled Positive
            button#neu.btn.toggled Neutral
            button#neg.btn.toggled Negative
            a#clear-btn.btn Clear
        #tweet-stream
        br
        #smiley-box
